/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;400;500;600;700;800;900&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* TAILWIND DIRECTIVES */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Archivo', sans-serif;
    margin: 0;
    padding: 0;
}
